In [22]:
import pandas as pd
import seaborn as sns

SyntaxError: invalid syntax (1739901031.py, line 3)

In [4]:
df_2020 = pd.read_csv("../Nal2/university_rank_2020.csv", index_col=0, sep=",", decimal=".")
df_students = pd.read_excel("../Nal2/university_rank_students.xlsx", index_col=0, sheet_name=0)
df_other = pd.read_csv("../Nal2/university_rank_other.csv", index_col=0, sep=" ", decimal=".")
df = pd.concat([df_2020, df_students, df_other], axis=1)
df.head()

,Country,Number_students,Numb_students_per_Staff,Score_Result,Rank,International_Students(%),Percentage_Female(%),Percentage_Male(%),Teaching,Research,Citations,Industry_Income,International_Outlook
University of Oxford,United Kingdom,20.664,11.2,95.4,1,41.0,46.0,54.0,90.5,99.6,98.4,65.5,excellent
California Institute of Technology,United States,2.240,6.4,94.5,2,30.0,NaN,66.0,92.1,97.2,97.9,88.0,excellent
University of Cambridge,United Kingdom,18.978,10.9,94.4,3,37.0,47.0,53.0,91.4,98.7,95.8,59.3,excellent
Stanford University,United States,16.135,7.3,94.3,4,NaN,43.0,57.0,92.8,96.4,99.9,66.2,excellent
Massachusetts Institute of Technology,United States,11.247,8.6,93.6,5,34.0,39.0,61.0,90.5,92.4,99.5,86.9,excellent

In [7]:
df.shape

(1396, 13)

In [15]:
df_housing = pd.read_csv("housing.csv", index_col=0, sep=",", decimal=".")
df_housing.dtypes

Type                   object
Rooms                   int64
Bathroom              float64
CarSpots              float64
Landsize              float64
BuildingArea          float64
YearBuilt             float64
Price                 float64
SellerG                object
DateSold               object
Suburb                 object
DistanceFromCenter    float64
Lattitude             float64
Longtitude            float64
Regionname             object
dtype: object

In [16]:
df_housing.drop("DateSold", axis=1, inplace=True)
df_housing.dtypes

Type                   object
Rooms                   int64
Bathroom              float64
CarSpots              float64
Landsize              float64
BuildingArea          float64
YearBuilt             float64
Price                 float64
SellerG                object
Suburb                 object
DistanceFromCenter    float64
Lattitude             float64
Longtitude            float64
Regionname             object
dtype: object

In [18]:
df_housing.head()

,Type,Rooms,Bathroom,CarSpots,Landsize,BuildingArea,YearBuilt,Price,SellerG,Suburb,DistanceFromCenter,Lattitude,Longtitude,Regionname
1 Abercrombie St,house,4,2.0,2.0,596.0,161.0,1980.0,NaN,NaN,Oakleigh South,14.7,-37.93200,145.08270,South-Eastern Metropolitan
1 Aberfeldie Wy,house,5,3.0,2.0,NaN,217.0,2005.0,680000.0,Barry,Caroline Springs,14.8,-37.72705,144.74856,Western Metropolitan
1 Acheron Av,house,3,NaN,NaN,NaN,NaN,NaN,890000.0,hockingstuart,Reservoir,12.0,NaN,NaN,Northern Metropolitan
1 Adelle Ct,house,3,2.0,2.0,820.0,NaN,NaN,1700000.0,Barry,Doncaster,13.9,-37.78030,145.12480,Eastern Metropolitan
1 Aintree Rd,house,4,3.0,4.0,349.0,NaN,NaN,NaN,NaN,Glen Iris,9.2,-37.85800,145.04330,Southern Metropolitan

In [24]:
stevilski = df_housing.select_dtypes(exclude=["object"]).columns
print(stevilski)

Index(['Rooms', 'Bathroom', 'CarSpots', 'Landsize', 'BuildingArea',
       'YearBuilt', 'Price', 'DistanceFromCenter', 'Lattitude', 'Longtitude'],
      dtype='object')

In [25]:
kategoricni = df_housing.select_dtypes(exclude=["int64", "float64"]).columns
print(kategoricni)

Index(['Type', 'SellerG', 'Suburb', 'Regionname'], dtype='object')

In [29]:
from sklearn.impute import SimpleImputer
import numpy as np

In [32]:
povprecje = SimpleImputer(missing_values=np.nan, strategy="mean")
df_housing[stevilski] = povprecje.fit_transform(df_housing[stevilski])

najpogostejsi = SimpleImputer(missing_values=np.nan, strategy="most_frequent")
df_housing[kategoricni] = najpogostejsi.fit_transform(df_housing[kategoricni])

In [36]:
df_housing.isnull().sum()

Type                  0
Rooms                 0
Bathroom              0
CarSpots              0
Landsize              0
BuildingArea          0
YearBuilt             0
Price                 0
SellerG               0
Suburb                0
DistanceFromCenter    0
Lattitude             0
Longtitude            0
Regionname            0
dtype: int64

In [37]:
from sklearn.model_selection import train_test_split

In [41]:
izhod = "Type"
vhod = ["Rooms", "Bathroom", "CarSpots", "YearBuilt", "Price"]

x_train, x_test, y_train, y_test = train_test_split(df_housing[vhod], df_housing[izhod], test_size=0.2, random_state=123)
x_train.shape

(24574, 5)

In [43]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train, y_train)
rezultat = knn.predict(x_test)
rezultat[:10]

array(['house', 'house', 'house', 'house', 'house', 'house', 'house',
       'house', 'house', 'house'], dtype=object)

In [45]:
from sklearn import metrics
print(metrics.accuracy_score(rezultat, y_test))

0.7381184895833334

In [47]:
from sklearn.tree import DecisionTreeClassifier
klasifikator = [KNeighborsClassifier(), DecisionTreeClassifier()]

In [48]:
from sklearn.model_selection import StratifiedKFold, cross_val_score

for k in klasifikator:
    kfold = StratifiedKFold(n_splits=10)
    rez = cross_val_score(k, df_housing[vhod], df_housing[izhod], cv=kfold, scoring="accuracy")
    print(type(k).__name__, rez.mean())

KNeighborsClassifier 0.7424653745895744
DecisionTreeClassifier 0.7691270254158526